@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<hr />
<div>
    <p>Contoso Univeristy site developed by Ellen Carlson | CIT 365</p>
    <a href="mailto:how19034@byui.edu"><img src="~/images/email.png" alt="Email logo" /></a>
    <a href="https://github.com/ellenhc/CIT365-W2021-CarlsonEllen"><img src="~/images/github.png" alt="Github logo" /></a>
    <a href="https://linkedin.com/in/ellenhowarth/"><img src="~/images/linkedin.png" alt="LinkedIn logo" /></a>
</div>