@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <img src="~/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" alt="Three men studying in a library"/>
    <div class="hero-text">
        <h1 style="font-size:50px">Carlson University</h1>
        <p>About the CU</p>
    </div>
</div>
<br />
<div class="color-div">
    <div class="row">
        <div class="col-md-4">
            <h3>Contact</h3>
            <p>Call or Text: 123-456-7890</p>
            <p>Email: carlsonu-info@carlu.edu</p>
            <p>
                Carlson University
                Seattle, WA 98502
            </p>
        </div>
        <div class="col-md-4">
            <h3>Other Schools</h3>
            <p>BYU-Idaho</p>
            <p>BYU-Hawaii</p>
            <p>BYU Pathway Worldwide</p>
        </div>
        <div class="col-md-4">
            <h3>Connect</h3>
            <a href="https://github.com/ellenhc/CIT365-W2021-CarlsonEllen">GitHub</a><br />
            <a href="https://www.linkedin.com/in/ellenhowarth/">LinkedIn</a>
        </div>
    </div>
</div>