@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/element5-digital-jCIMcOpFHig-unsplash.jpg" class="d-block w-100" alt="Girl carrying textbooks">
        </div>
        <div class="carousel-item">
            <img src="~/images/nathan-dumlao-ewGMqs2tmJI-unsplash.jpg" class="d-block w-100" alt="Empty lecture hall">
        </div>
        <div class="carousel-item">
            <img src="~/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" class="d-block w-100" alt="Three men studying in a library">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Carlson University</h2>
        <p>
            Carlson University is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>